@page "/utilizators/delete"
@using Microsoft.EntityFrameworkCore
@using Agenda.Models
@inject IDbContextFactory<Agenda.Data.AgendaContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Utilizator</h2>
    <hr />
    @if (utilizator is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nume</dt>
            <dd class="col-sm-10">@utilizator.Nume</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Prenume</dt>
            <dd class="col-sm-10">@utilizator.Prenume</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Telefon</dt>
            <dd class="col-sm-10">@utilizator.Telefon</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Birthday</dt>
            <dd class="col-sm-10">@utilizator.Birthday</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Observatie</dt>
            <dd class="col-sm-10">@utilizator.Observatie</dd>
        </dl>
        <EditForm method="post" Model="utilizator" OnValidSubmit="DeleteUtilizator" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(utilizator is null)">Delete</button> |
            <a href="/utilizators">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Utilizator? utilizator;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        utilizator = await context.Utilizator.FirstOrDefaultAsync(m => m.Id == Id);

        if (utilizator is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteUtilizator()
    {
        using var context = DbFactory.CreateDbContext();
        context.Utilizator.Remove(utilizator!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/utilizators");
    }
}
